@import url(./__item/form__item.css);
@import url(./__save-button/form__save-button.css);


.form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  box-sizing: border-box;
}