.modal__wrap {
  width: 430px;
  min-height: 330px;
  padding: 34px 36px 55px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

@media screen and (max-width: 768px) {
  .modal__wrap {
    margin-left: 23px;
    margin-right: 23px;
    padding: 24px 15px 35px;
  }
}