.profile__name {
  display: inline-block;
  max-width: 360px;
  margin: 0 17px 0 0;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .profile__name {
    margin-right: 6px;
    font-size: 27px;
    line-height: 2;
  }
}