@import url(./__wrap/modal__wrap.css);
@import url(./__content/modal__content.css);
@import url(./__close-button/modal__close-button.css);
@import url(./__title/modal__title.css);

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
}
